function check_vars() {
  required_vars=$1
  missing_vars=()
  for i in "${required_vars[@]}"
  do
      test -n "${!i:+y}" || missing_vars+=("$i")
  done
  if [ ${#missing_vars[@]} -ne 0 ]
  then
      echo "The following variables are not set, but should be:" >&2
      printf ' %q\n' "${missing_vars[@]}" >&2
  fi
}

export GIT_REPOS="/home/matthew/work"
source $GIT_REPOS/hz-automation-client/bin/source_functions_for_hz_mgmt.sh

function mgmt() {
  hz-mgmt $GIT_REPOS 
  bucc test
}
